*.DS_Store
*.gcode
firmware/.vscode
firmware/.pio
firmware/.travis.yml
firmware/.desktopini
.desktopini
pcb/smoke_extractorV1_1/smoke_extractorV1_1-backups
pcb/smoke_extractorV1_1/#auto_saved_files#
*.bak